# PyCharepo
.idea/
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Logs and databases
*.log
*.sqlite

# Local development
.DS_Store

# Python
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# VSCode
.vscode/

# macOS
.DS_Store
s
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.fuse_hidden*
